*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    padding: 0.5rem;
}

span#slideShowButtons button{
    padding: 0.5rem;
    margin: 0.2rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    background-color: #F5FBE6;
    border-radius: .5rem;

}
span#slideShowButtons button:hover{
    background-color: #FE7F2D;
    color: white;
}
span#slideShowButtons button.active{
    background-color: #215E61;
    color: white;
}