*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f9d36d;
    
}
#formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#formContainer input{
    margin-top: 5rem;
}
#formContainer button{
    padding: 0.5rem;
    margin-top: 2rem;
    margin-right: 1rem;
}
#formContainer label{
    display: inline-block;
    width: 3rem;
    margin-right: 1rem;
}
#tableContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#tableContainer table{
    margin-top: 2rem;
    width: 90%;
    border : .2rem solid black;

}
#ageCol{
    width:10%;
}
th, td {
  border: .1rem solid black;  /* Applies to ALL th and td elements */
}