*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100%;
    text-align: center;
}
header iframe{
    width: 50rem;
    height: 20rem;
}