* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f0;
  font-family: sans-serif;
}
header {
  font-size: 3rem;
  width: 50%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #e6d8c3;
  border-radius: 1rem;
  text-align: center;
}
#formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#formContainer input {
  margin-top: 5rem;
  border-radius: 0.2rem;
}
#formContainer button {
  padding: 0.5rem;
  margin-top: 3rem;
  margin-right: 1rem;
  border-radius: 2rem;

  border-style: hidden;
  font-size: medium;
  font-weight: 1000;
  background-color: #c2a68c;
  color: #f5f5f0;
}
#formContainer button:hover {
  background-color: #5d866c;
}
#formContainer label {
  display: inline-block;
  width: 3rem;
  margin-right: 1rem;
}


