*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Box{
    width: 15rem;
    height: 15rem;
    display: inline-block;
    text-align: center;
    color: black;
    background-color: beige;
    
}
