*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#marbleContainer{
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#speedInputContainer{
    margin-top: 10rem;
    
    display:flex;
    justify-content: center;
    align-items: center;
    
}
div#speedInputContainer input{
    padding: 1rem;
    margin-left: 1rem;
    border: solid;
    border-radius: 1rem;
}